* {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient( to right, #d9a7c7, #fffcdc);
}