@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box:
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}
p
{
  font-weight: 300;
  color: #111;
}
body
{
  min-height: 1000px;
}
.banner
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  url(bg.jpg);
  background-size: cover;
}
.banner .content
{
  max-width: 900px;
  text-align: center;
}
.banner .content h2
{
  font-size: 5em;
  color: #fff;
}
.banner .content p
{
  font-size: 1em;
  color: #fff;
}
.btn
{
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn: hover
{
  letter-spacing: 6px;
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky
{
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);


}
header .logo
{
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo
{
  color: #111;
}
header .logo span
{
  color: #ff0157;
}
header .navigation
{
  position: relative;
  display: flex;
}
header .navigation li
{
  list-style: none;
  margin-left: 120px;
  padding: 0;
  background-color: #FFEBCD


}
header .navigation li a
{
  font-size: 1.3em;
  text-decoration: none;
  color: #000000;
  font-weight: 200;
   letter-spacing: 1px;
}
header.sticky .navigation li a
{
  color: #111;

}
header .navigation li a:hover
{
  color: #ff0157;
}

section
{
  padding: 100px;
}

.row
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50
{
  position: relative;
  width: 48%;

}

.titleText
{
  color: #111;
  font-size: 2em;
  font-weight: 300;

}

.titleText span
{
  color: #B8860B;
  font-weight: 700;
  font-size: 1.5em;

}

.row .col50 .imgBx
{
  position: relative;
  width: 100%;
  min-height: 300px;

}
.row .col50 .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.bton
{
  font-size: 1em;
  color: #000000;
  background: #FFF8DC;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.bton: hover
{
  letter-spacing: 6px;
}

.contact
{
  background: url(pc.jpg);
  background-size: cover;

}

.contactForm
{
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);
  max-width: 500 px;
  margin-top: 50 px;

}
.contactForm h3
{
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;

}
.contactForm .inputBox
{
  position: relative;
  width: 100%;
  margin-bottom: 20px;


}

.contactForm .inputBox input,
.contactForm.inputBox textarea
{
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactForm .inputBox input[type="submit"]
{
  font-size: 1 em;
  color:#fff;
  background: #B8860B;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
