* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Aleo";
  overflow: hidden;
}
/*BACKGROUND*/
html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../picture/background.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*--------------------INDEX-----------------------*/
/*design*/

/*NAVBAR*/
.h-nav {
  display: flex;
  justify-content: flex-end;
  height: 5vw;
  width: 100%;
  border-radius: 2px;
  background-image: linear-gradient(to right, #bbb8b8, #000000, #000000);
  opacity: 0.8;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
}

.h-nav .nav-li {
  float: right;
  list-style-type: none;
  margin: 30px 10px;
}

.h-nav .nav-li a {
  text-decoration: none;
  color: rgb(99, 99, 99);
  padding: 18px 15px;
  font-size: 1.75vw;
}

.h-ul a:hover {
  color: white;
  font-size: 2vw;
}
/*container*/
.container {
  display: flex;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
/*Login form*/
.l-form {
  width: 60%;
  margin: 10% 5%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  border: 3px solid #4f4846;
  border-radius: 2px;
  background: rgb(15, 15, 15); /* fallback for old browsers */
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /*background color?*/
}

.alt-login {
  font-family: "Aleo";
  color: azure;
  font-size: 2em;
  position: relative;
  border: 3px solid #4f4846;
  background-color: black;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
  height: 22%;
  width: 40%;
}

.container .l-h3 {
  color: #266150;
  font-size: 2.5vw;
}
/*heading for reg*/
.container .l-h2 {
  color: #266150;
  font-size: 2.2vw;
}

.container .l-box {
  width: auto;
  padding: 15px;
  margin: 9px;
  border: 1px solid rgb(104, 94, 94);
  outline: none;
  border-radius: 20px;
}
.container .l-reg {
  font-size: 1vw;
  color: white;
  margin: 15px;
}
.container .l-reg a {
  font-size: 1vw;
  color: #ddaf94;
  margin: 15px;
}
.container .l-submit {
  padding: 13px 50px;
  width: 90%;
  height: auto;
  background-color: #266150;
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.5vw;
}

.l-submit:hover {
  background-color: #4f4846;
  color: #e8cebf;
}
.l-box {
  font-size: 20px;
}

/*--------------HOME-------------------------------------------------------------------*/
/*left container*/
.home-container {
  height: 100vh;
  width: 100%;
}
.left-side {
  border: 2px solid #4f4846;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  position: absolute;
  height: 100%;
  left: 0;
  width: 23%;
  background-color: black;
}
.left-item {
  margin: 30px;
  color: gray;
  font-size: 1.75vw;
}
.left-item:hover {
  color: #e8cebf;
  font-size: 2vw;
}
/*--------------TO DO--------------*/
.container-todo {
  width: 100%;
}

.todo-h3 {
  color: #266150;
  font-size: 3vw;
}

.back {
  background-color: rgb(62, 62, 62);
  border: 2px solid #070707;
  box-shadow: 0px 0px 100px 60px rgba(231, 228, 228, 0.3);
  width: 460px;
  padding: 1%;
  border-radius: 25px;
  height: 50%;
  margin: 5% 35%;
}

.todo-input {
  height: 46px;
  border: 2px solid #f5f5f5;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo {
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  border: 2px solid #4f4846;
  vertical-align: middle;
  font-size: 30px;
  margin-left: 1%;
}

#addToDo:hover {
  background-color: #ddaf94;
  color: white;
}

.paragraph-styling {
  margin: 1%;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
  background-color: #fdf8f5;
  opacity: 0.5;
}

.to-dos {
  margin-top: 25px;
}

.paragraph-styling:hover {
  background-color: black;
  color: white;
}

/*-----------------BLACKBOARD------------------*/

.container-bb {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 88vh;
  min-width: 90%;
  margin: 30px 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  padding: 5px;
}
.screen-main {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 25px;
  background-color: #050706;
  border: 2px solid #868483;
  box-shadow: 0px 0px 50px 20px rgb(0, 0, 0);
  padding: 2px;
}
/* VideoStream Element */
#bbCanvas {
  border-radius: 10px;
}
/* videoStream Container */
.bbCanvas {
  justify-self: left;
}
.chat {
  float: right;
  width: 26%;
  height: 100%;
  border-radius: 25px;
  background-color: #fcfcfc;
  border: 5px solid #020202;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding: 5px;
}

.b-input {
  background-color: #838383;
  width: 99%;
  height: 4.5vw;
  border: 2.5px solid #242323;
  border-radius: 12px;
  margin-bottom: 0.1vw;
  padding: 10px;
  font-size: 1.15vw;
}
.screen {
  border: 1px solid red;
  width: 74%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  vertical-align: flex-start;
}
.icons {
  position: relative;
  top: 60%;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  vertical-align: middle;
  color: white;
  text-align: center;
}

#icons .fas {
  margin: 0 10px;
  padding: 5px 5px;
}

#icons .fas:hover {
  color: rgb(99, 99, 99);
}
