<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Aleo' rel='stylesheet'>
    <!-----------fav icon------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header>
        <!--------------left col-->
        <div class="home-container">
            <div class="left-side">
                    <p class="left-item">JOIN CLASS</p>
                    <p class="left-item">DISCUSSION</p>
                    <p class="left-item">GRADES</p>            
                    <p class="left-item">TIME TABLE</p>
                </div>
            </div>
        </div>
    </header>
</body>
</html>