<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JEDI TEMPLE</title>
    <!-----------stylesheet------------------->
    <link rel="stylesheet" href="css/style.css" />
    <!-----------fonts------------------->
    <link
      href="https://fonts.googleapis.com/css?family=Aleo"
      rel="stylesheet"
    />
    <!-----------fav icon------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  </head>
  <body class="home">
    <header>
      <!--NAVBAR------------------------>
      <div class="h-nav">
        <ul class="h-ul">
          <li class="nav-li"><a href="#">HOME</a></li>
          <li class="nav-li"><a href="#">ABOUT US</a></li>
        </ul>
      </div>
      <!--FORM-------------------------->
      <div class="container">
        <div class="l-form">
          <h4 class="l-h4">Jedi Temple | Login</h4>
          <div>
            <input
              type="text"
              name="username"
              class="userEmail l-box"
              placeholder="Enter username"
            />
          </div>
          <div>
            <input
              type="password"
              name="password"
              class="l-box userPass"
              placeholder="Enter password"
            />
          </div>
          <div>
            <button type="submit" class="l-submit" id="submit">LOGIN</button>
          </div>
        </div>
        <div></div>
        <!-- Register First -->
        <div class="alt-login">
          <h4 class="l-h4">Not yet a member?</h4>
          <p><a href="/registration">Register</a></p>
        </div>
      </div>
    </header>
    <script src="script.js"></script>
  </body>
</html>
