header {
    padding: 100px;
    background-image: url("https://wallpapercave.com/wp/wp2916542.jpg") ;
    background-size:cover ;
    background-repeat: no-repeat, repeat;
    background-position: center;
}