*{
    box-sizing: border-box;
}

html{
    background-color: rgb(83, 78, 78);
}

header h1
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100px;
    color: aliceblue;
}

/* body p{
    background-color: rgb(30, 135, 226);
} */

section{
    font-size: 25px;
    /* background-image: linear-gradient(rgb(164, 64, 204), rgb(188, 233, 205)); */
    background-image: linear-gradient(to right, rgb(130, 130, 219), violet);
}

footer {
    background-color: rgb(139, 128, 128);
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

footer a:hover{
    background-color: black;
}