section {
    /* min-height: 100px; */
    height: 600px;;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(rgb(243, 114, 8), rgb(194, 184, 47));
}

section a{
    font-size: 50%;
    color: aliceblue;
}