section {
    /* min-height: 100px; */
    height: 600px;;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(rgb(47, 204, 42),rgb(155, 235, 159))
}

section a{
    font-size: 50%;
    color: aliceblue;
}