section {
    /* min-height: 100px; */
    height: 600px;;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(rgb(235, 47, 156),rgb(201, 233, 203))
}

section a{
    font-size: 50%;
    color: aliceblue;
}